@font-face {font-family: 'Poppins-Bold'; src: url('fonts/Poppins-Bold.ttf') format('truetype');}
@font-face {font-family: 'Poppins-BoldItalic'; src: url('fonts/Poppins-BoldItalic.ttf') format('truetype');}
@font-face {font-family: 'Poppins-ExtraBold'; src: url('fonts/Poppins-ExtraBold.ttf') format('truetype');}
@font-face {font-family: 'Poppins-ExtraBoldItalic'; src: url('fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');}
@font-face {font-family: 'Poppins-Italic'; src: url('fonts/Poppins-Italic.ttf') format('truetype');}
@font-face {font-family: 'Poppins-Regular'; src: url('fonts/Poppins-Regular.ttf') format('truetype');}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins-ExtraBoldItalic, sans-serif;
    background-color: #f3f3f3;
}

.container {
    background-color: white;
    width: 40rem;
    height: 30rem;
    border-radius: 20px 20px 140px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

p>span.purple {
    font-family: Poppins-ExtraBold;
    font-style: italic;
    color: hsl(259, 100%, 65%);
    font-size: 5rem;
    margin-right: 2rem;
}

p.result {
    /* font-weight: bolder; */
    font-size: 4.5rem;
    /* font-style: italic; */
    /* outline: 1px solid green; */
    margin-bottom: -40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

label {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: hsl(0, 0%, 0%, 0.45);
    font-family: Poppins-Bold;
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
}

.thisForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 25%;

}

.first {
    display: flex;
    flex-direction: column;
}

.second {
    display: flex;
    flex-direction: column;
}

.third {
    display: flex;
    flex-direction: column;
}

input.number {
    font-family: Poppins-Bold;
    font-size: 1.55em;
    padding-left: 10px;
    width: 7rem;
    height: 3rem;
    border-radius: 6px;
    border: 1px solid hsl(0, 0%, 0%, 0.25);
    /* margin-bottom: 35px; */
}

/* input.number:focus {
    border-color: green;
} */


hr {
    /* position: inherit; */
    opacity: 40%;
}
.submitButton {
    position: absolute;
    top: 23.7%;
    left: 81%;
    width: 5rem;
    height: 5rem;
    border-radius: 60px;
    border: none;
    background-color: hsl(259, 100%, 65%);
    text-indent: -9999px;
    z-index: 9999;
    background-image: url("images/icon-arrow.svg");
    background-size: contain 40%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.submitButton:hover,
.submitButton:focus {
    background-color: black;
}

label.down {
    font-family: Poppins-Italic;
    color:hsl(0, 100%, 67%);
    text-transform: none;
    text-indent: -9999px;
    margin-bottom: 18px;
    font-size: 0.7rem;
    letter-spacing: normal;
}

#youAreDead {
    margin-top: 40px;
    color: rgba(255, 0, 0, 0.7);
}


/* label.errorState.upper {
    color:hsl(0, 100%, 67%);
}

input.errorState {
    border-color: hsl(0, 100%, 67%);
} */

